body{
  background-color: aqua;
}

*{
  box-sizing: border-box;
}

.Home {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .Home {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .Home {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.Money{
  border: 1px solid #ccc;
}

div.Money:hover{
border: 1px solid #777;
}

div.Money img{
  width: 100%;
  height: auto;
}

div.desc{
  padding: 15px;
  text-align: center;
}
